Reading a file with Pandas
==
---

In [4]:
import math

print(math.log10(100))

2.0

Pandas is a library widely used for statistics and analysis
* Has functions which allow you to read a file directly into your script
* Borrows many feature from R's data frames

*   Read a Comma Separate Values (CSV) data file with `pandas.read_csv`.
    * Uses the same notation as you used for bash ("./" accesses the current folder, "../" searches up to the parent folder)
    * Argument is the name of the file to be read.
    * Assign result to a variable to store the data that was read.

## Accessing Files

We're using the gapminder data that we created yesterday. Remember that these are stored in the shell_lessons directory in a `data` sub-directory, which is why the path to the file is `../shell_lessons/data/gapminder_data/gapminder_final.txt`. If you forget to include `../shell_lessons/`, or if you include it but your copy of the file is somewhere else, you will get a [runtime error]({{ site.github.url }}/05-error-messages/) that ends with a line like this:
    ~~~
    OSError: File b'gapminder_final.txt' does not exist
    ~~~
    
** Don't forget to use the tab key for auto-completion **
    * Auto-complete works in Jupyter notebooks!

In [5]:
# First, import the pandas library
import pandas

In [7]:
# Then read the csv
df = pandas.read_table("../data/processed_data/gapminder_data.txt")

 print the data frame

In [8]:
print(df)

          country  year         pop continent  lifeExp    gdpPercap
0     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
1     Afghanistan  2002  25268405.0      Asia   42.129   726.734055
2     Afghanistan  2007  31889923.0      Asia   43.828   974.580338
3     Afghanistan  1952   8425333.0      Asia   28.801   779.445314
4     Afghanistan  1957   9240934.0      Asia   30.332   820.853030
5     Afghanistan  1962  10267083.0      Asia   31.997   853.100710
6     Afghanistan  1967  11537966.0      Asia   34.020   836.197138
7     Afghanistan  1972  13079460.0      Asia   36.088   739.981106
8     Afghanistan  1977  14880372.0      Asia   38.438   786.113360
9     Afghanistan  1982  12881816.0      Asia   39.854   978.011439
10    Afghanistan  1987  13867957.0      Asia   40.822   852.395945
11    Afghanistan  1992  16317921.0      Asia   41.674   649.341395
12        Albania  1952   1282697.0    Europe   55.230  1601.056136
13        Albania  1957   1476505.0    Europe   59.280  1942.284244
14        Albania  1962   1728137.0    Europe   64.820  2312.888958
15        Albania  1967   1984060.0    Europe   66.220  2760.196931
16        Albania  1972   2263554.0    Europe   67.690  3313.422188
17        Albania  1977   2509048.0    Europe   68.930  3533.003910
18        Albania  1982   2780097.0    Europe   70.420  3630.880722
19        Albania  1987   3075321.0    Europe   72.000  3738.932735
20        Albania  1992   3326498.0    Europe   71.581  2497.437901
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
22        Albania  2002   3508512.0    Europe   75.651  4604.211737
23        Albania  2007   3600523.0    Europe   76.423  5937.029526
24        Algeria  1962  11000948.0    Africa   48.303  2550.816880
25        Algeria  1967  12760499.0    Africa   51.407  3246.991771
26        Algeria  1972  14760787.0    Africa   54.518  4182.663766
27        Algeria  1977  17152804.0    Africa   58.014  4910.416756
28        Algeria  1982  20033753.0    Africa   61.368  5745.160213
29        Algeria  1952   9279525.0    Africa   43.077  2449.008185
...           ...   ...         ...       ...      ...          ...
1674  Yemen, Rep.  1982   9657618.0      Asia   49.113  1977.557010
1675  Yemen, Rep.  1987  11219340.0      Asia   52.922  1971.741538
1676  Yemen, Rep.  1992  13367997.0      Asia   55.599  1879.496673
1677  Yemen, Rep.  1997  15826497.0      Asia   58.020  2117.484526
1678  Yemen, Rep.  2002  18701257.0      Asia   60.308  2234.820827
1679  Yemen, Rep.  2007  22211743.0      Asia   62.698  2280.769906
1680       Zambia  1952   2672000.0    Africa   42.038  1147.388831
1681       Zambia  1957   3016000.0    Africa   44.077  1311.956766
1682       Zambia  1962   3421000.0    Africa   46.023  1452.725766
1683       Zambia  1967   3900000.0    Africa   47.768  1777.077318
1684       Zambia  1972   4506497.0    Africa   50.107  1773.498265
1685       Zambia  1977   5216550.0    Africa   51.386  1588.688299
1686       Zambia  1982   6100407.0    Africa   51.821  1408.678565
1687       Zambia  1987   7272406.0    Africa   50.821  1213.315116
1688       Zambia  1992   8381163.0    Africa   46.100  1210.884633
1689       Zambia  1997   9417789.0    Africa   40.238  1071.353818
1690       Zambia  2002  10595811.0    Africa   39.193  1071.613938
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1692     Zimbabwe  1952   3080907.0    Africa   48.451   406.884115
1693     Zimbabwe  1957   3646340.0    Africa   50.469   518.764268
1694     Zimbabwe  1962   4277736.0    Africa   52.358   527.272182
1695     Zimbabwe  1967   4995432.0    Africa   53.995   569.795071
1696     Zimbabwe  1972   5861135.0    Africa   55.635   799.362176
1697     Zimbabwe  1977   6642107.0    Africa   57.674   685.587682
1698     Zimbabwe  1982   7636524.0    Africa   60.363   788.855041
1699     Zimbabwe  1987   9216418.0    Africa   62.351   706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377   693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[1704 rows x 6 columns]

When we load a csv file with Pandas, it get's loaded into a DataFrame.

DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column. So, a data frame and series are synonomous with table and column.


*   The columns in a data frame are the observed variables, and the rows are the observations.
*   Pandas uses backslash `\` to show wrapped lines when output is too wide to fit the screen.

---
## EtherPad

Hypothetically, the data a project you are working on is stored in a file called `microbes.csv`, which is located in a folder called `field_data`. You are doing analysis in a notebook called `analysis.ipynb`in a sibling folder called `thesis`. You're directory structure looks like this:
    ~~~
    your_home_directory
    +-- field_data/
    |   +-- microbes.csv
    +-- thesis/
        +-- analysis.ipynb
    ~~~

What value(s) should you pass to `read_csv` to read `microbes.csv` in `analysis.ipynb`? Vote for your answer in EtherPad.

    a. "/field_data/microbes.csv"
    b. "./field_data/microbes.csv"
    c. "field_data/microbes.csv"
    d. "../field_data/microbes.csv"

---

## Use `DataFrame.info` to find out more about a data frame.

In [16]:
# Write your code here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
year         1704 non-null int64
pop          1704 non-null float64
continent    1704 non-null object
lifeExp      1704 non-null float64
gdpPercap    1704 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

## Use `DataFrame.describe` to get summary statistics about data.

DataFrame.describe() gets the summary statistics of only the columns that have numerical data. 
All other columns are ignored.

In [17]:
# Write your code here
df.describe()

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165877
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846989
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

---
## EtherPad:
1. Use the python cell below to find the minimum GDP per capita of all countries in 1972?

In [23]:
# Write your code here
print(df.columns.tolist())

['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap']

Vote for your answer on EtherPad

    a. 331.0
    b. 372.0
    c. 415.0
    d. 424.
    
---

## The `DataFrame.columns` variable stores information about the data frame's columns.

*   Note that this is a method, *not* a function.
    *   Like `math.pi`.
    *   So do not use `()` to try to call it.

In [ ]:
# print out the data frame columns

## Use `index_col` to specify that a column's values should be used as row headings.

*   Row headings are numbers (0 and 1 in this case).
*   Really want to index by country.
*   Pass the name of the column to `read_csv` as its `index_col` parameter to do this.

In [27]:
# re-read in the gapminder data with the "country" column/series sa the index_col
df = pandas.read_table("../data/processed_data/gapminder_data.txt", index_col="pop")
df.head()

                country  year continent  lifeExp   gdpPercap
pop
22227415.0  Afghanistan  1997      Asia   41.763  635.341351
25268405.0  Afghanistan  2002      Asia   42.129  726.734055
31889923.0  Afghanistan  2007      Asia   43.828  974.580338
8425333.0   Afghanistan  1952      Asia   28.801  779.445314
9240934.0   Afghanistan  1957      Asia   30.332  820.853030

* This is a `DataFrame`
* This gives us many rows with the same index value ("e.g. Afghanistan")
  * Not good practice
* lets re-read the table without the index_cols

In [28]:
# Write your code here
df = pandas.read_table("../data/processed_data/gapminder_data.txt")
print(df)

          country  year         pop continent  lifeExp    gdpPercap
0     Afghanistan  1997  22227415.0      Asia   41.763   635.341351
1     Afghanistan  2002  25268405.0      Asia   42.129   726.734055
2     Afghanistan  2007  31889923.0      Asia   43.828   974.580338
3     Afghanistan  1952   8425333.0      Asia   28.801   779.445314
4     Afghanistan  1957   9240934.0      Asia   30.332   820.853030
5     Afghanistan  1962  10267083.0      Asia   31.997   853.100710
6     Afghanistan  1967  11537966.0      Asia   34.020   836.197138
7     Afghanistan  1972  13079460.0      Asia   36.088   739.981106
8     Afghanistan  1977  14880372.0      Asia   38.438   786.113360
9     Afghanistan  1982  12881816.0      Asia   39.854   978.011439
10    Afghanistan  1987  13867957.0      Asia   40.822   852.395945
11    Afghanistan  1992  16317921.0      Asia   41.674   649.341395
12        Albania  1952   1282697.0    Europe   55.230  1601.056136
13        Albania  1957   1476505.0    Europe   59.280  1942.284244
14        Albania  1962   1728137.0    Europe   64.820  2312.888958
15        Albania  1967   1984060.0    Europe   66.220  2760.196931
16        Albania  1972   2263554.0    Europe   67.690  3313.422188
17        Albania  1977   2509048.0    Europe   68.930  3533.003910
18        Albania  1982   2780097.0    Europe   70.420  3630.880722
19        Albania  1987   3075321.0    Europe   72.000  3738.932735
20        Albania  1992   3326498.0    Europe   71.581  2497.437901
21        Albania  1997   3428038.0    Europe   72.950  3193.054604
22        Albania  2002   3508512.0    Europe   75.651  4604.211737
23        Albania  2007   3600523.0    Europe   76.423  5937.029526
24        Algeria  1962  11000948.0    Africa   48.303  2550.816880
25        Algeria  1967  12760499.0    Africa   51.407  3246.991771
26        Algeria  1972  14760787.0    Africa   54.518  4182.663766
27        Algeria  1977  17152804.0    Africa   58.014  4910.416756
28        Algeria  1982  20033753.0    Africa   61.368  5745.160213
29        Algeria  1952   9279525.0    Africa   43.077  2449.008185
...           ...   ...         ...       ...      ...          ...
1674  Yemen, Rep.  1982   9657618.0      Asia   49.113  1977.557010
1675  Yemen, Rep.  1987  11219340.0      Asia   52.922  1971.741538
1676  Yemen, Rep.  1992  13367997.0      Asia   55.599  1879.496673
1677  Yemen, Rep.  1997  15826497.0      Asia   58.020  2117.484526
1678  Yemen, Rep.  2002  18701257.0      Asia   60.308  2234.820827
1679  Yemen, Rep.  2007  22211743.0      Asia   62.698  2280.769906
1680       Zambia  1952   2672000.0    Africa   42.038  1147.388831
1681       Zambia  1957   3016000.0    Africa   44.077  1311.956766
1682       Zambia  1962   3421000.0    Africa   46.023  1452.725766
1683       Zambia  1967   3900000.0    Africa   47.768  1777.077318
1684       Zambia  1972   4506497.0    Africa   50.107  1773.498265
1685       Zambia  1977   5216550.0    Africa   51.386  1588.688299
1686       Zambia  1982   6100407.0    Africa   51.821  1408.678565
1687       Zambia  1987   7272406.0    Africa   50.821  1213.315116
1688       Zambia  1992   8381163.0    Africa   46.100  1210.884633
1689       Zambia  1997   9417789.0    Africa   40.238  1071.353818
1690       Zambia  2002  10595811.0    Africa   39.193  1071.613938
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1692     Zimbabwe  1952   3080907.0    Africa   48.451   406.884115
1693     Zimbabwe  1957   3646340.0    Africa   50.469   518.764268
1694     Zimbabwe  1962   4277736.0    Africa   52.358   527.272182
1695     Zimbabwe  1967   4995432.0    Africa   53.995   569.795071
1696     Zimbabwe  1972   5861135.0    Africa   55.635   799.362176
1697     Zimbabwe  1977   6642107.0    Africa   57.674   685.587682
1698     Zimbabwe  1982   7636524.0    Africa   60.363   788.855041
1699     Zimbabwe  1987   9216418.0    Africa   62.351   706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377   693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[1704 rows x 6 columns]

## Writing to csv file 
As well as the `read_table` function for reading data from a file, Pandas can write data frames to files with a `to_****` function.
  * Pandas can write data frames to csv, html, excel (xlsx), json, and many more.  
    E.g.  
    `df.to_csv("./my_data.csv'`

---
## EXERCISE:
1. With the `gapminder_final.txt` file read in as a data frame, write out a copy of the data frame as a csv to a new file called `gapminder_final.csv` in the `data` directory in the `python_lessons` directory ("./data").

---

In [29]:
# Write your code here
df.to_csv("../data/processed_data/gapminder_final.csv")

In [30]:
pandas.read_table("../data/processed_data/gapminder_final.csv")

          ,country,year,pop,continent,lifeExp,gdpPercap
0     0,Afghanistan,1997,22227415.0,Asia,41.76300000...
1     1,Afghanistan,2002,25268405.0,Asia,42.129,726....
2     2,Afghanistan,2007,31889923.0,Asia,43.828,974....
3     3,Afghanistan,1952,8425333.0,Asia,28.801,779.4...
4     4,Afghanistan,1957,9240934.0,Asia,30.331999999...
5     5,Afghanistan,1962,10267083.0,Asia,31.997,853....
6     6,Afghanistan,1967,11537966.0,Asia,34.02,836.1...
7     7,Afghanistan,1972,13079460.0,Asia,36.088,739....
8     8,Afghanistan,1977,14880372.0,Asia,38.438,786....
9     9,Afghanistan,1982,12881816.0,Asia,39.854,978....
10    10,Afghanistan,1987,13867957.0,Asia,40.8219999...
11    11,Afghanistan,1992,16317921.0,Asia,41.674,649...
12    12,Albania,1952,1282697.0,Europe,55.23,1601.05...
13    13,Albania,1957,1476505.0,Europe,59.28,1942.28...
14    14,Albania,1962,1728137.0,Europe,64.82,2312.88...
15    15,Albania,1967,1984060.0,Europe,66.22,2760.19...
16    16,Albania,1972,2263554.0,Europe,67.69,3313.42...
17    17,Albania,1977,2509048.0,Europe,68.93,3533.00...
18    18,Albania,1982,2780097.0,Europe,70.42,3630.88...
19    19,Albania,1987,3075321.0,Europe,72.0,3738.932...
20    20,Albania,1992,3326498.0,Europe,71.581,2497.4...
21    21,Albania,1997,3428038.0,Europe,72.95,3193.05...
22    22,Albania,2002,3508512.0,Europe,75.6510000000...
23    23,Albania,2007,3600523.0,Europe,76.423,5937.0...
24    24,Algeria,1962,11000948.0,Africa,48.303000000...
25    25,Algeria,1967,12760499.0,Africa,51.407,3246....
26    26,Algeria,1972,14760787.0,Africa,54.518,4182....
27    27,Algeria,1977,17152804.0,Africa,58.013999999...
28    28,Algeria,1982,20033753.0,Africa,61.368,5745....
29    29,Algeria,1952,9279525.0,Africa,43.077,2449.0...
...                                                 ...
1674  1674,"Yemen, Rep.",1982,9657618.0,Asia,49.113,...
1675  1675,"Yemen, Rep.",1987,11219340.0,Asia,52.922...
1676  1676,"Yemen, Rep.",1992,13367997.0,Asia,55.599...
1677  1677,"Yemen, Rep.",1997,15826497.0,Asia,58.02,...
1678  1678,"Yemen, Rep.",2002,18701257.0,Asia,60.308...
1679  1679,"Yemen, Rep.",2007,22211743.0,Asia,62.698...
1680  1680,Zambia,1952,2672000.0,Africa,42.038000000...
1681  1681,Zambia,1957,3016000.0,Africa,44.077,1311....
1682  1682,Zambia,1962,3421000.0,Africa,46.023,1452....
1683  1683,Zambia,1967,3900000.0,Africa,47.768,1777....
1684  1684,Zambia,1972,4506497.0,Africa,50.107,1773....
1685  1685,Zambia,1977,5216550.0,Africa,51.386,1588....
1686  1686,Zambia,1982,6100407.0,Africa,51.821000000...
1687  1687,Zambia,1987,7272406.0,Africa,50.821000000...
1688  1688,Zambia,1992,8381163.0,Africa,46.1,1210.88...
1689  1689,Zambia,1997,9417789.0,Africa,40.238,1071....
1690  1690,Zambia,2002,10595811.0,Africa,39.19300000...
1691  1691,Zambia,2007,11746035.0,Africa,42.38399999...
1692  1692,Zimbabwe,1952,3080907.0,Africa,48.451,406...
1693  1693,Zimbabwe,1957,3646340.0,Africa,50.4689999...
1694  1694,Zimbabwe,1962,4277736.0,Africa,52.3580000...
1695  1695,Zimbabwe,1967,4995432.0,Africa,53.995,569...
1696  1696,Zimbabwe,1972,5861135.0,Africa,55.635,799...
1697  1697,Zimbabwe,1977,6642107.0,Africa,57.674,685...
1698  1698,Zimbabwe,1982,7636524.0,Africa,60.363,788...
1699  1699,Zimbabwe,1987,9216418.0,Africa,62.3510000...
1700  1700,Zimbabwe,1992,10704340.0,Africa,60.376999...
1701  1701,Zimbabwe,1997,11404948.0,Africa,46.809,79...
1702  1702,Zimbabwe,2002,11926563.0,Africa,39.989000...
1703  1703,Zimbabwe,2007,12311143.0,Africa,43.486999...

[1704 rows x 1 columns]

# -- COMMIT YOUR WORK TO GITHUB --

---
## Keypoints:
 * Use the Pandas library to do statistics on tabular data.
 * Use `index_col` to specify that a column's values should be used as row headings.
 * Use `DataFrame.info` to find out more about a data frame.
 * The `DataFrame.columns` variable stores information about the data frame's columns.
 * Use `DataFrame.T` to transpose a data frame.
 * Use `DataFrame.describe` to get summary statistics about data.